.margin{
    margin-top: 100px;
}
.text{
    width: 70%;
    text-align: center;
    margin: auto;
}
.name{
    font-size: 14px;
}
  .text p:nth-child(1) {
    line-height: 25px;
    font-size: 18px;
}
.carousel .carousel-control-next-icon{
    background-image: url(../../../assets/next.png) !important;
}
.carousel .carousel-control-prev-icon{
    background-image: url(../../../assets/prev.png) !important;
}
.container{
    color: white;
}