<div class="container margin client mb-5">
    <h1 class="text-center mb-5 client-h1">Our Client Say</h1>
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam esse, iste accusamus dolore quam odit perspiciatis suscipit eos dolores atque ut molestias ab, provident inventore dignissimos nemo modi et tempora magni reiciendis animi saepe incidunt. Vitae distinctio illum alias, dignissimos accusamus dolor ex earum, ut dolorum ratione, recusandae facere! Est!</p>
                <p class="name">Ahmed Saeed</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam esse, iste accusamus dolore quam odit perspiciatis suscipit eos dolores atque ut molestias ab, provident inventore dignissimos nemo modi et tempora magni reiciendis animi saepe incidunt. Vitae distinctio illum alias, dignissimos accusamus dolor ex earum, ut dolorum ratione, recusandae facere! Est!</p>
                <p class="name">Ahmed Saeed</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam esse, iste accusamus dolore quam odit perspiciatis suscipit eos dolores atque ut molestias ab, provident inventore dignissimos nemo modi et tempora magni reiciendis animi saepe incidunt. Vitae distinctio illum alias, dignissimos accusamus dolor ex earum, ut dolorum ratione, recusandae facere! Est!</p>
                <p class="name">Ahmed Saeed</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam esse, iste accusamus dolore quam odit perspiciatis suscipit eos dolores atque ut molestias ab, provident inventore dignissimos nemo modi et tempora magni reiciendis animi saepe incidunt. Vitae distinctio illum alias, dignissimos accusamus dolor ex earum, ut dolorum ratione, recusandae facere! Est!</p>
                <p class="name">Ahmed Saeed</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>