
<!-- Start of Footer section
	============================================= -->
	<footer id="ori-footer" class="ori-footer-section footer-style-one bg-light">

        <div class="ori-footer-title text-center text-uppercase ">
            <img src="./assets/img/footer/imggg.png" alt="">
        </div>
        <div class="container">
        <div class="ori-footer-widget-wrapper">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6">
                    <div class="ori-footer-widget">
                        <div class="logo-widget">
                            <a href="#"><img src="assets/img/logo/logo-tg.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="ori-footer-widget">
                        <div class="menu-location-widget ul-li-block">
                            <h2 class="widget-title text-uppercase text-dark">Our Location</h2>
                            <ul class="text-dark">
                                <li><i class="fas fa-map-marker-alt"></i><span class="address text-dark" style="font-weight: bold;"> Plot # 2 & 2A Survey 86 Main Ibrahim Hyderi Road, Korangi Creek, Karachi, Sindh.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="ori-footer-widget">
                        <div class="contact-widget ul-li-block text-dark my-5">
                            <div class="contact-info">
                            <h2 class="widget-title text-uppercase text-dark">Contact Info</h2>
                                <ul>	
                                    <li class="mn">
                                    <i class="fas fa-phone-alt"></i>
                                    <div class="nmb">
                                    <a class="text-dark" href="tel:02135090916" style="font-weight: bold;"> 021-35090916</a>
                                    <a class="text-dark" href="tel:02135093294" style="font-weight: bold;"> 021-35093294</a>
                                    </div>
                                    </li>
                                    <li>
                                    <i class="fas fa-envelope"></i><a href="mailto:info@technologenesis.com" class="text-dark" style="font-weight: bold;"> info@technologenesis.com</a>
                                    </li>
                                </ul>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="ori-footer-widget text-dark">
                        <div class="newslatter-widget ul-li-block">
                            <h2 class="widget-title text-uppercase">Newslatter</h2>
                            <div class="newslatter-form" >
                                <form action="#" method="get">
                                    <input type="email" name="email" placeholder="Enter mail" class="text-dark" required>
                                    <button type="submit" class="text-dark">Subscribe <i class="fas fa-paper-plane text-light"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ori-footer-copyright d-flex justify-content-between">
            <div class="ori-copyright-text text-dark">
                © 2022 All Right Reserved - Technologenesis
            </div>
            <div class="ori-copyright-social">
                <a href="https://www.facebook.com/Technologenesis" target="_blank"><i class="fab fa-facebook-f text-dark"></i></a>
                <a href="https://www.instagram.com/technologenesis/" target="_blank"><i class="fab fa-instagram text-dark"></i></a>
                <a href="https://www.linkedin.com/in/technologenesis" target="_blank"><i class="fab fa-linkedin text-dark"></i></a>
            </div>
        </div>
    </div>
</footer>
