<app-header></app-header>
<app-inner-banner></app-inner-banner>
<div class="container cons">
    <div class="row align-items-center">
        <div class="col-lg-6 service_image">
            <img class="tilt" src="assets/img/brochure-design-banner.png" alt="" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
        </div>
        <div class="col-lg-6">
            <div class="ori-service-details-content">
                <div class="ori-service-details-text theme_heading pera-content">
                    <h2>Get Your Flyer and Brochure<span> DESIGNED </span> TODAY!</h2>
                    <p>Designs Lake understands the needs and wants of your business we know how important it is to get an amazing flyer and brochure design for your business whether you’re running a restaurant or doing marketing of your business flyer and brochure plays a vital role to attract customers and quality leads.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<app-process></app-process>
<app-features></app-features>
<div class="marginss">
    <app-client-slider></app-client-slider>
    </div>
<app-contact-us></app-contact-us>
<app-footer></app-footer>