<div class="container">
    <div class="our_process py_8">
        <div class="ori-service-details-process ul-li-block theme_heading">
            <h2>Our <span>Process</span></h2>
    
        </div>
        <div class="row justify-content-center">
    
            <div class="col-md-4">
                <div class="ori-service-process-item pera-content">
                    <h3><span>01</span> Select your Package </h3>
                    <p>It is suggested to select your package according to your business needs and wants you can
                        consult us before placing your order to get free consultation for selecting your
                        package.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ori-service-process-item pera-content">
                    <h3><span>02</span> Provide Information </h3>
                    <p>You can share your thought and ideas before start working on your designs. If you have any
                        ideas or concepts to share you are independent to do so. If not then you need to fill out
                        the brief form to get an idea of what type of logo you want for your business.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ori-service-process-item pera-content">
                    <h3><span>03</span> Incept Design Process </h3>
                    <p>Once we have all the information we start working on your design process it takes 12 hours to
                        create initial concepts for your logo.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ori-service-process-item pera-content">
                    <h3><span>04</span> Feedback And Revisions </h3>
                    <p>We present our initial designs to you and get your feedback on them and if any changes need
                        to be made we do it I minutes. We are not done until your final design.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ori-service-process-item pera-content">
                    <h3><span>05</span> Launch And Final Delivery </h3>
                    <p>Once you finalize your design and give us ago-ahead for final file delivery. We begin to
                        create high-resolution vector files to deliver to you in any desired format. Because it is
                        important to deliver the final files in your desired format which will be used for printing
                        purposes in the future.
                    </p>
                </div>
            </div>
    
        </div>
        </div>
</div>