<!-- Start of Breadcrumbs  section
	============================================= -->
	<section id="ori-breadcrumbs" class="ori-breadcrumbs-section position-relative">
		<div class="container">
			<div class="ori-breadcrumb-content text-center ul-li">
				<h1>{{ headerText }}</h1>
				<ul>
					<li><a routerLink="">Home</a></li>
					<li>{{ headerText }}</li>
				</ul>
			</div>
		</div>
		<!-- <div class="line_animation">
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div> 
		</div> -->
	</section>	
<!-- End of Breadcrumbs section
	============================================= -->