<div class="container">
    <div class="our_feature">
        <div class="theme_heading text-center">
            <h2>Our <span>Features</span></h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="feature_box">
                    <ul class="tilt" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                        <li>
                            <div class="f_icon">
    
                                <img src="assets/img/f1.png" alt="">
                            </div>
                    </li>
                        <li>
                            <h3>Custom Designs</h3>
                            <p>Engaging custom design tailored to your needs. No use of templates.</p>
                        </li>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 1262px; height: 1262px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature_box">
                    <ul class="tilt" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                        <li>
                            <div class="f_icon">
    
                                <img src="assets/img/f2.png" alt="">
                            </div>
                    </li>
                        <li>
                            <h3>Free Hosting</h3>
                            <p>Free Hosting for 12 months. No purchase is required.</p>
                        </li>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 1262px; height: 1262px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature_box">
                    <ul class="tilt" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                        <li>
                            <div class="f_icon">
    
                                <img src="assets/img/f3.png" alt="">
                            </div>
                    </li>
                        <li>
                            <h3>24 Hours Delivery</h3>
                            <p>No reason to wait. Get your designs delivered within 24 Hours.</p>
                        </li>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 1262px; height: 1262px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature_box">
                    <ul class="tilt" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                        <li>
                            <div class="f_icon">
    
                                <img src="assets/img/f4.png" alt="">
                            </div>
                    </li>
                        <li>
                            <h3>Money Back Guarantee</h3>
                            <p>100% Money-Back Guarantee.</p>
                        </li>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 1262px; height: 1262px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature_box">
                    <ul class="tilt" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                        <li>
                            <div class="f_icon">
    
                                <img src="assets/img/f5.png" alt="">
                            </div>
                    </li>
                        <li>
                            <h3>Maximum Creativity</h3>
                            <p>Creativity is how we set your brand identity. Creative thinking; Bespoke designs.</p>
                        </li>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 1262px; height: 1262px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature_box">
                    <ul class="tilt" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                        <li>
                            <div class="f_icon">
    
                                <img src="assets/img/f6.png" alt="">
                            </div>
                    </li>
                        <li>
                            <h3>Unlimited Edits</h3>
                            <p>Pay one-time. Enjoy Unlimited Revisions.</p>
                        </li>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 1262px; height: 1262px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature_box">
                    <ul class="tilt" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                        <li>
                            <div class="f_icon">
    
                                <img src="assets/img/f7.png" alt="">
                            </div>
                    </li>
                        <li>
                            <h3>Fantastic Reviews</h3>
                            <p>Genuine Client Reviews and Ratings since 2015.</p>
                        </li>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 1262px; height: 1262px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature_box">
                    <ul class="tilt" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                        <li>
                            <div class="f_icon">
    
                                <img src="assets/img/f8.png" alt="">
                            </div>
                    </li>
                        <li>
                            <h3>Over 10,000 Customers</h3>
                            <p>Having Customer-base more than 10,000 worldwide.</p>
                        </li>
                    <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 1262px; height: 1262px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></ul>
                </div>
            </div>
        </div>
    </div>
</div>