<div class="container my-5">
    <div class="row">
        <h1 class="text-center mb-4">Our Company Services</h1>
        <div class="col-md-4">
            <div class="card">
                <div class="content">
                    <div class="front">
                        <h3 class="title">Graphic Designing</h3>
                        <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
         
                    <div class="back">
                        <img src="../../../assets/1-1-215x300.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="content">
                    <div class="front">
                        <h3 class="title">Graphic Designing</h3>
                        <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
         
                    <div class="back">
                        <img src="../../../assets/1-1024x973.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="content">
                    <div class="front">
                        <h3 class="title">Graphic Designing</h3>
                        <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
         
                    <div class="back">
                        <img src="../../../assets/3-1-965x1024.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="content">
                    <div class="front">
                        <h3 class="title">Graphic Designing</h3>
                        <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
         
                    <div class="back">
                        <img src="../../../assets/3.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="content">
                    <div class="front">
                        <h3 class="title">Graphic Designing</h3>
                        <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
         
                    <div class="back">
                        <img src="../../../assets/4-300x294.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card1">
                <h1>Get a Complete Solution to Managed your Business Digitally.</h1>
            </div>
        </div>
    </div>
</div>