<app-header></app-header>
<app-inner-banner></app-inner-banner>
<div class="container cons">
    <div class="row align-items-center">
        <div class="col-lg-6 service_image">
            <img class="tilt" src="assets/img/digital.png" alt="" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
        </div>
        <div class="col-lg-6">
            <div class="ori-service-details-content">
                <div class="ori-service-details-text theme_heading pera-content">
                    <h2>Get Your <span>Website Developed</span> For As Low As $99 TODAY!</h2>
                    <p>Digital marketing is one of the grown marketing strategies what top notch brands has adopted as it is more targeted toward the right audience inbound marketing is more result oriented than the traditional outbound and unwanted ads your customers do not prefer to see.</p>
                    <p>We at Technologenesis has bunch of qualified marketing people with great experience in digital marketing whether it is SEM, SEO Or Social Media Marketing.</p>

                </div>
            </div>
        </div>

    </div>
</div>
<app-process></app-process>
<app-features></app-features>
<div class="marginss">
    <app-client-slider></app-client-slider>
    </div>
<app-contact-us></app-contact-us>
<app-footer></app-footer>