<app-header></app-header>
<app-inner-banner></app-inner-banner>
<section id="ori-breadcrumbs" class="ori-breadcrumbs-section position-relative"
    style="margin-top:-100px;">
    <div class="container">
        <div class="ori-breadcrumb-content text-center ul-li">
            <div class="row d-flex">
                <div class="col-lg-6 col-md-12">
                    <div class="aboutt text-start wow fadeInLeft"
                        style="visibility: visible; animation-name:
                        fadeInLeft;">
                        <h1>HOW WE WORK.</h1>
                        <span>We are committed to providing our customers with
                            exceptional service while offering our employees the
                            best training.</span>
                    </div>

                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="inner-boxx wow fadeInLeft" style="visibility:
                        visible; animation-name: fadeInLeft;">
                        <h3 class="count">01</h3>
                        <i class="fas fa-fax"></i>
                        <h3 class="heading">COLLECT INFORMATION</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="inner-boxx wow fadeInLeft" style="visibility:
                        visible; animation-name: fadeInLeft;">
                        <h3 class="count">02</h3>
                        <i class="fas fa-search"></i>
                        <h3 class="heading">RESEARCH</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="inner-boxx wow fadeInLeft" style="visibility:
                        visible; animation-name: fadeInLeft;">
                        <h3 class="count">03</h3>
                        <i class="fas fa-bullhorn"></i>
                        <h3 class="heading">BUILD A
                            PLAN</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="inner-boxx wow fadeInLeft" style="visibility:
                        visible; animation-name: fadeInLeft;">
                        <h3 class="count">04</h3>
                        <i class="fas fa-chalkboard"></i>
                        <h3 class="heading">BUILD DESIGN
                            CONCEPT</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="inner-boxx wow fadeInLeft" style="visibility:
                        visible; animation-name: fadeInLeft;">
                        <h3 class="count">05</h3>
                        <i class="far fa-mobile-android-alt"></i>
                        <h3 class="heading">PRODUCTION &amp; COMPELETION</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="inner-boxx wow fadeInLeft" style="visibility:
                        visible; animation-name: fadeInLeft;">
                        <h3 class="count">06</h3>
                        <i class="fas fa-inbox-out"></i>
                        <h3 class="heading">DELIVERED</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="line_animation">
        <div class="line_area"></div>
        <div class="line_area"></div>
        <div class="line_area"></div>
        <div class="line_area"></div>
        <div class="line_area"></div>
        <div class="line_area"></div>
        <div class="line_area"></div>
        <div class="line_area"></div>
    </div> -->
</section>
<section id="ori-service-page-service" class="ori-service-page-service-section">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 order-lg-2 mb-5 mb-lg-0">
                <div class="image-stack mb-5 mb-lg-0">
                    <div class="image-stack__item wow fadeInRight"
                        data-aos="fade-up" style="visibility: visible;
                        animation-name: fadeInRight;">
                        <img src="./assets/img/about/2.jpg"
                            style="border-radius:10px;">
                    </div>

                </div>

            </div>
            <div class="col-lg-4 order-lg-1">

                <div class="inner">
                    <div class="sec-title wow fadeInLeft" style="visibility:
                        visible; animation-name: fadeInLeft;">
                        <h2 class="about-head">OUR MISSION &amp; VISION</h2>
                    </div>
                    <div class="about-title">
                        <h2 class="about-heading wow fadeInDown"
                            style="visibility: visible; animation-name:
                            fadeInDown;">OUR MISSION</h2>
                    </div>
                    <div class="text2 wow fadeInDown" style="visibility:
                        visible; animation-name: fadeInDown;">
                        <p>Our goal is to provide advanced quality design to
                            enhancing the business growth of our customers with
                            creativity and deliver market-defining high-quality
                            solutions that create value. we continue to work
                            dedicatedly to understand the needs of our customers
                            with a superior services.</p>
                    </div>

                    <div class="sec-title wow fadeInDown" style="visibility:
                        visible; animation-name: fadeInDown;">
                        <h2 class="about-heading "> VISION </h2>

                    </div>

                    <div class="text2 wow fadeInDown" style="visibility:
                        visible; animation-name: fadeInDown;">
                        <p>To become a prime performer, in providing graphics
                            solutions in the competitive global market place. we
                            offer out clients the most effective angles to
                            approach their marketing needs.Fulfolling clients
                            requirements to have long term relationship.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<app-footer></app-footer>
