<app-header></app-header>
<app-inner-banner></app-inner-banner>
<div class="container cons">
    <div class="row align-items-center">
        <div class="col-lg-6 service_image">
            <img class="tilt" src="assets/img/website-design-development.png" alt="">
        </div>
        <div class="col-lg-6">
            <div class="ori-service-details-content">
                <div class="ori-service-details-text theme_heading pera-content">
                    <h2>Get Your <span>Website Developed</span> For As Low As $99 TODAY!</h2>
                    <p>Technologenesis want their clients to grow their business and have online presence worldwide 24/7 for your target audience therefore we know how important it is to build your business online. </p>
                    <p>Did you know by the date more than 1 billion businesses have built their online presence and they have extra advantage on their competitors? And the stats are rapidly growing every day we don’t want you to miss the opportunity to have extra advantage on your competitors and that is why we are giving you the facility to get a website for as low as $99 is there anyone who can do it for you? Probably not.</p>

                </div>
            </div>
        </div>

    </div>
</div>
<app-process></app-process>
<app-features></app-features>
<div class="marginss">
    <app-client-slider></app-client-slider>
    </div>
<app-contact-us></app-contact-us>
<app-footer></app-footer>