<app-header></app-header>
<app-inner-banner></app-inner-banner>
<div class="container cons">
    <div class="row align-items-center">
        <div class="col-lg-6 service_image">
            <img class="tilt" src="assets/img/Mobile-App.png" alt="" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
        </div>
        <div class="col-lg-6">
            <div class="ori-service-details-content">
                <div class="ori-service-details-text theme_heading pera-content">
                    <h2>Control Your Target Audience By Getting A <span> Mobile App </span> TODAY!</h2>
                    <p>Designing &amp; Developing mobile apps at Technologenesis are provided by trained professionals who are highly qualified and experience in their respective field and all are passionate souls about what they do. </p>
                    <p>We offer a complete range of services to our customers to help them make their brand’s presence thoroughly visible in the online as well as real market by getting a mobile app. Our experts striving hard to come up with dynamic ideas which are bound to leave great first impressions on visitors.</p>

                </div>
            </div>
        </div>

    </div>
</div>
<app-process></app-process>
<app-features></app-features>
<div class="marginss">
    <app-client-slider></app-client-slider>
    </div>
<app-contact-us></app-contact-us>
<app-footer></app-footer>